:root{
    --mainGradient: linear-gradient( to right, #01ffff, #7ffffe, #b1ffff, #e8f9ff, #99e7f3, #77d5ee);
    --piGradient: linear-gradient(to right, #8c3590, #2c4982);
    --terminalFont: 'Montserrat', sans-serif;
    --mainBg: rgb(39, 39, 39);
    --mainFont: 'Space Mono', monospace;
    --lightBg: #ffffff2c;
    --lightFullBg: #2c2c2c;
}

*{box-sizing: border-box;padding: 0;margin: 0;}
body{
    font-family: var(--mainFont);
    background-color: #eeeeee;
    position: relative;
    background: black;
    color: white;
}

.s-alert-info{
    position: fixed;
    top: -120%;
    right: 20px;
    z-index: 999;
    padding: 10px 20px;
    background: rgb(219, 255, 253);
    border-bottom: #5d95fc solid 3px;
    color: rgb(38, 64, 119);
    font-weight: 700;
    backdrop-filter:blur(10px);
    animation: 7s alert_top_right ease-in-out;
    display: inline-block;
}

@keyframes alert_top_right{
    0%{
        top: -120%;
    }
    15%{
        top: 20px;
    }
    85%{
        top: 20px;
    }
    100%{
        top: -120%;
    }
}
.s-container{
    max-width: 1180px;
    margin: 0 auto;
    position: relative;
}
.header{
    background: var(--lightFullBg);
    position: sticky;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 100;
}
.hedaer-data{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.header ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}
.header nav{
    padding: 10px 0;
}
.header nav img{
    width: 40px;
    display: block;
}
.header ul li{
    margin: 0;
    padding: 0;
    display: inline-block;
}
.header ul li a{
    color: white;
    text-decoration: none;
    display: block;
    margin: 0 10px;
}
.header ul li a i{
    width: 20px;
    margin-right: 10px;
}
.header .x {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 20px;
}
.header .x a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.header .x .lang {
    color: white;
    margin-left: 15px;
    font-weight: bold;
}
.header .x i.lang{
    color: white;
    /* font-size: 24px; */
    font-style: normal;
    position: relative;
}
.header .x i.lang:hover > .list{
    display: block;
}
.header .x i.lang .list{
    width: 160px;
    position: absolute;
    top: 100%;
    right: 0;
    color: white;
    font-size: 16px;
    background: linear-gradient(to right, #8c3590, #2c4982);
    border: solid 1px #fbb44a;
    display: grid;
    border-radius: 4px;
    display: none;
    transition: 0.2s linear;
}

.header .x i.lang .list a{
   padding: 7px 15px;
   display: block;
}

.footer{
    background: #ffffff2c;
}
.footer .footer-data{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    padding: 20px;
    color: white;
}
.ky-ket{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.ky-ket .detail{
    width: 780px;
}
.ky-ket .nguong{
    width: 380px;
}

/* TAB STYLE */
.tabs{
    display: flex;
    margin-bottom: 10px;
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
}
/* .tabs .line{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background:lime;
    transition: linear 0.3s;
    border-radius: 10px;
} */
.tab-item{
    padding: 10px;
    color: green;
    display: inline-block;
    transition: .2s linear;
}
.tab-item:hover{
    color: lime;
    cursor: pointer;
}
.tab-item.active{
    color: lime;
    transition: .7s linear;
    font-weight: 700;
}
.tab-pane{
    display: none;
}
.tab-pane select, .tab-pane option, .tab-pane .top button{
    color: lime;
    font-family: var(--mainFont);
    background: black;
    border: none;
    text-transform: uppercase;
    outline: none;
}
.tab-pane.active{
    display: block;
}
/* END TAB STYLE */
@media screen and (max-width: 768px) {
    .ky-ket .detail, .ky-ket .nguong{
        width: 100%;
    }
}

.footer-data a{
    color: white;
    text-decoration: none;
}
.thanh-toan{
    width: 100%;
}
.tool{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    align-items: center;
}
.systemMenu{
    color: white;
    padding: 0 10px;
    cursor: pointer;
}
.systemMenu i{
    width: 20px;
    margin-right: 3px;
}
.search{
    display: flex;
    align-items: center;
}

.search input{
    padding: 10px 15px;
    font-family: var(--mainFont);
    outline: none;
    border: none;
    border-bottom: solid 1px;
    background: #88888800;
    color: white;
}
::placeholder{
    color: rgb(189, 189, 189);
}
.search button{
    padding: 10px 15px;
    font-family: var(--mainFont);
    outline: none;
    border: none;
    background: #88888800;
    border-bottom: solid 1px;
    color: #ffffff;
}
.spacetop{
    height: 50px;
}
.main{
    display: flex;justify-content: space-between;flex-direction: row;flex-wrap: wrap;
}
.main .left{
    width: 680px;
}
.main .right{
    width: 480px;
}
.s-fdc-jcsb{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main .top{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}
.main .top h3{
    margin: 0;
    text-transform: uppercase;
}
.main .top a{
    text-decoration: none;
}
.main .top span{
    color: lime;
    font-weight: bold;
    cursor: pointer;
}
.top button{
    padding: 0 10px;
    border: none;
    outline: none;
    background: #00000000;
}
.main table{
    width: 100%;
    border-radius: 0 15px;
    overflow: hidden;
}
.main .space{
    width: 100%;
}
.space .top a{
    display: inline-block;
    text-decoration: none;
    padding: 10px 20px;
    box-shadow: 1px 1px 3px grey;
    border:solid 1px #00000000;
    transition: 0.2s linear;
}
.space .top a:hover{
    box-shadow: 0 0 2px grey;
}
.space .top h3 span{
    font-size: 90%;
}
.space .top span.paginate{
    padding: 5px 0;
    color: lime;
}
.main table tr{
    text-align: left;
    padding: 10px 12px;
    background-color: #ffffff13;
}
.main table tr:nth-child(2n){
    text-align: left;    
    padding: 5px 7px;
    background-color: #000000;
}
.main table tr th{
    padding: 5px 7px;
    text-align: left;
    background-color: var(--lightBg);
    color: white;
}
.main table tr td{
    padding: 5px 7px;
}
.main table tr td a{
    color: lime
}
.background-white{
    background-color: white;
}
.main table td.id{
    max-width: 70px;
    text-overflow: ellipsis;
    overflow: hidden;
}
.main table td.name a{
    text-transform: uppercase;
    color: lime;
    font-weight: 700;
    text-decoration: underline;
    border-radius: 3px;
    text-align: center;
}
.main table a{
    text-decoration: none;
}
.pi-coin{
    /* color: white; */
    color: yellow;
}
.row{
    display:flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}
.mini-tab{
    flex-basis: 49%;
}
.latest-operation{
    width: 100%;
}
.latest-transaction, .latest-block{
    width: 580px;
}
@media screen and (max-width: 768px) {
    .tableResponsive table{
        width: 100vw;
    }
    .tableResponsive table tr{
        width: 100%;
    }
    .tableResponsive table th{
        display: none;
    }
    .tableResponsive tr td{
       display: block;
       text-align: right;
       position: relative;
       background: palegreen;
    }
    .tableResponsive tr td::before{
       content: attr(data-label);
       position: absolute;
       left: 0;
       padding-left: 15px;
    }
    .tableResponsive table td{
        max-width: 100%;
    }
    .tableResponsive table td.id{
        text-align: right;
        max-width: 100%;
        overflow: hidden;
    }
    .tableResponsive table td.id span{
        max-width: 40%;
        display: block;
        text-align: right;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    .mini-tab{
        flex-basis: 100%;
        margin-bottom: 10px;
    }
    .latest-transaction, .latest-block{
        width: 100%;
    }
    .idRp{
        max-width: 100px;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    table.account-detail td.detail-title{
        width: 40%;
    }
    table.account-detail td.detail-content{
        width: 60%;
    }
}

/* CSS LOADER ↓ */
.loader {
    background: black;
    bottom: 0;
    left: 0;
    overflow: hidden;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 99999;
}

.loader-inner {
    bottom: 0;
    height: 60px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 100px;
    align-items: center;

}

.loader-inner img{
    width: 100%;
    align-items: center;
}

@keyframes spinning {
    0% { transform: translateY(30px) }
    20% { transform: translateY(-30px) }
    40% { transform: translateY(30px) }
    60% { transform: translateY(-30px) }
    80% { transform: translateY(30px) }
    100% { transform: translateY(0) }
  }
  .spin {
    animation-name: spinning;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  /* END CSS LOADER ↑ */