*{box-sizing: border-box;padding: 0;margin: 0;}
body{
    font-family: 'Montserrat', sans-serif;
    background-color: #eeeeee;
    position: relative;
}
.container{
    max-width: 1180px;
    margin: 0 auto;
    position: relative;
}
.header{
    background: linear-gradient(to right, #8c3590, #2c4982);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 0 0 0 20px;
    box-shadow: 0 1px 3px grey;
    position: sticky;
    top: 0;
    z-index: 100;
}
.footer{
    background: rgb(34, 34, 34);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 0 20px 0 0 ;
    box-shadow: 0 1px 3px grey;
    margin-top: 10px;
    padding: 10px 20px;
    color: white;
    height: 60px;
    display: flex;
    justify-content: space-between;
}
.footer a{
    color: white;
    text-decoration: none;
}
.header ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}
.header nav{
    padding: 10px 20px;
}
.header nav img{
    width: 40px;
    display: block;
}
.header ul li{
    margin: 0;
    padding: 0;
    display: inline-block;
}
.header ul li a{
    color: white;
    text-decoration: none;
    display: block;
    margin: 0 10px;
}
.header ul li a i{
    width: 20px;
    margin-right: 10px;
}
.header .x {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 20px;
}
.header .x a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.header .x .lang {
    color: white;
    margin-left: 15px;
    font-weight: bold;
}
.header .x i.lang{
    color: white;
    /* font-size: 24px; */
    font-style: normal;
    position: relative;
}
.header .x i.lang:hover > .list{
    display: block;
}
.header .x i.lang .list{
    width: 160px;
    position: absolute;
    top: 100%;
    right: 0;
    color: white;
    font-size: 16px;
    background: linear-gradient(to right, #8c3590, #2c4982);
    border: solid 1px #fbb44a;
    display: grid;
    border-radius: 4px;
    display: none;
    transition: 0.2s linear;
}

.header .x i.lang .list a{
   padding: 7px 15px;
   display: block;
}
.thanh-toan{
    width: 100%;
}
.tool{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.systemMenu{
    border-radius: 10px;
    background-color: #8c3590;
    color: white;
    padding: 10px 20px;
    box-shadow: 1px 1px 2px grey;
}
.systemMenu i{
    width: 20px;
    margin-right: 3px;
}
.search{
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.search input{
    padding: 10px 15px;
    font-family: var(--MainFont);
    outline: none;
    border: none;
    box-shadow: 1px 1px 2px grey;
    border-radius: 10px 0 0 10px;
}
.search button{
    padding: 10px 15px;
    font-family: var(--MainFont);
    outline: none;
    border: none;
    color: #ffffff;
    background-color: #2c4982;
    box-shadow: 1px 1px 2px grey;
    border-radius: 0 10px 10px 0;
}
.spacetop{
    height: 50px;
}
.main{
    display: flex;justify-content: space-between;flex-direction: row;flex-wrap: wrap;
}
.main .left{
    width: 680px;
}
.main .right{
    width: 480px;
}

.main .top{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}
.main .top h3{
    margin: 0;
    text-transform: uppercase;
}
.main .top a{
    text-decoration: none;
}
.main .top span{
    color: green;
    font-weight: bold;
}
.top button{
    padding: 0 10px;
    border: none;
    outline: none;
}
.main table{
    width: 100%;
    box-shadow: 1px 1px 2px grey;
    border-radius: 0 15px;
    overflow: hidden;
}
.main .space{
    width: 100%;
}
.space .top a{
    display: inline-block;
    text-decoration: none;
    padding: 10px 20px;
    box-shadow: 1px 1px 3px grey;
    border:solid 1px #00000000;
    transition: 0.2s linear;
}
.space .top a:hover{
    box-shadow: 0 0 2px grey;
}
.space .top h3 span{
    font-size: 90%;
}
.space .top span.paginate{
    border-radius: 10px;
    box-shadow: 1px 1px 2px grey;
    padding: 10px 20px;
    color: white;
    background-color: #2c4982;
}
.main table tr{
    text-align: left;
    padding: 10px 12px;
    background-color: #fcfcfc;
}
.main table tr:nth-child(2n){
    text-align: left;
    padding: 10px 12px;
    background-color: #efe3ff;
}
.main table tr th{
    text-align: left;
    padding: 10px 12px;
    background-color: #5f3e89;
    color: rgb(255, 255, 255);
}
.main table tr td{
    padding: 10px 12px;
}
.main table tr td a{
    font-weight: 700;
}
.background-white{
    background-color: white;
}
.main table td.id{
    max-width: 70px;
    text-overflow: ellipsis;
    overflow: hidden;
}
.main table td.name{
    text-align: center;
}
.main table td.name a{
    text-transform: uppercase;
    padding: 5px 10px;
    background-color: #8c3590;
    color: white;
    text-decoration: none;
    border-radius: 3px;
    text-align: center;
}
.main table a{
    text-decoration: none;
}
.pi-coin{
    color: white;
    padding: 0 10px;
    background: green;
    border-radius: 4px;
    margin-left: 10px;
}
.row{
    display:flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}
.mini-tab{
    flex-basis: 49%;
}
@media screen and (max-width: 768px) {
    .tableResponsive table{
        width: 100vw;
    }
    .tableResponsive table tr{
        width: 100;
    }
    .tableResponsive table th{
        display: none;
    }
    .tableResponsive tr td{
       display: block;
       text-align: right;
       position: relative;
       background: palegreen;
    }
    .tableResponsive tr td::before{
       content: attr(data-label);
       position: absolute;
       left: 0;
       padding-left: 15px;
    }
    .tableResponsive table td{
        max-width: 100%;
    }
    .tableResponsive table td.id{
        text-align: right;
        max-width: 100%;
        overflow: hidden;

    }
    .tableResponsive table td.id span{
        max-width: 40%;
        display: block;
        text-align: right;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    .mini-tab{
        flex-basis: 100%;
        margin-bottom: 10px;
    }
}

/* CSS LOADER ↓ */
.loader {
    background: #8c3590;
    background: linear-gradient(to right, #8c3590, #2c4982) ;
    bottom: 0;
    left: 0;
    overflow: hidden;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 99999;
}

.loader-inner {
    bottom: 0;
    height: 60px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 100px;
    align-items: center;

}

.loader-inner img{
    width: 100%;
    align-items: center;
}

@keyframes spinning {
    from { transform: rotate(0deg) }
    to { transform: rotate(360deg) }
  }
  .spin {
    animation-name: spinning;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    /* linear | ease | ease-in | ease-out | ease-in-out */
    animation-timing-function: linear;
  }
  /* END CSS LOADER ↑ */